<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple" [fullScreen]="true">
    <p style="color: white"> cargando... </p>
</ngx-spinner>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a class="default-cursor" href="javascript:void(0)">Mantenimiento</a></li>
                        <li class="default-cursor">Tipo de Producto</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End-->
<div class="mantenimiento-area">
    <div style="width: 80%; margin: auto; height: 69vh; padding: 50px;">

        <div class="row">
            <div class="col-md-8">
                <div style="min-height: 500px;">
                    <form autocomplete="off" [formGroup]="form_busqueda" (ngSubmit)="listar_tipo()" style="width: 100%; margin-bottom: 20px; padding: 20px 25px; background: #f6f6f6; border-radius: 5px;">
                        <div class="row">
                            <div class="col-md-2">
                                <select formControlName="categoria" name="categoria" class="form-control form-control-sm">
                                    <option value="0">(Categoría)</option>
                                    <option *ngFor="let cate of categorias" [value]="cate.id">{{ cate.nombre_categoria }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select formControlName="subcategoria" name="subcategoria" class="form-control form-control-sm">
                                    <option value="0">(Subcategoría)</option>
                                    <option *ngFor="let subcate of subcategorias_filtro" [value]="subcate.id">{{ subcate.nombre_sub_categoria }}</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <input formControlName="patron_busqueda" name="patron_busqueda" id="patron_busqueda" type="text" placeholder="Buscar por sku o nombre del producto..." class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" (click)="limpiar()" class="btn btn-outline-primary btn-block btn-sm">Limpiar</button>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-primary btn-block btn-sm">Buscar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <table class="table table-striped" style="width: 100%; margin: auto;">
                        <thead>
                            <tr class="bg-primary" style="color: #fff;">
                                <th>Nombre categoría</th>
                                <th>Nombre subcategoría</th>
                                <th>Nombre tipo</th>
                                <th>Estado</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tipo of tipos | paginate: { itemsPerPage: 10, currentPage: pagina_actual }">
                                <td> {{ tipo.nombre_categoria }} </td>
                                <td> {{ tipo.nombre_sub_categoria }} </td>
                                <td> {{ tipo.nombre_tipo }} </td>
                                <td>
                                    <span *ngIf="tipo.estado === true" class="badge badge-pill badge-success">Activo</span>
                                    <span *ngIf="tipo.estado === false" class="badge badge-pill badge-danger">Inactivo</span>
                                </td>
                                <td><a href="javascript:void(0)" (click)="habilitar_edicion(tipo)">Modificar</a></td>
                                <td><a href="javascript:void(0)" (click)="eliminar_tipo(tipo)">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pagina_actual = $event"></pagination-controls>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Editar Tipo</h5>
                        <a href="javascript:void(0)" (click)="habilitar_nuevo_registro()" class="card-link">Crear tipo</a>

                        <form style="margin-top: 20px; margin-bottom: 20px;" autocomplete="off" [formGroup]="formulario">
                            <div *ngIf="editar" class="btn-group btn-group-sm" role="group" style="margin-bottom: 20px;">
                                <button type="button" class="btn" (click)="cambiar_estado_entidad(true)" [class.btn-outline-success]="!estado_entidad" [class.btn-success]="estado_entidad">Activo</button>
                                <button type="button" class="btn" (click)="cambiar_estado_entidad(false)" [class.btn-outline-danger]="estado_entidad" [class.btn-danger]="!estado_entidad">Inactivo</button>
                            </div>
                            <div class="form-group ocultar">
                                <label>Id:</label>
                                <input formControlName="id" name="id" type="number" class="form-control" placeholder="Id...">
                            </div>
                            <div class="form-group">
                                <label>Categoría: <small *ngIf="categoriaNoValida" class="form-text text-danger">Seleccione una categoría</small></label>
                                <select [class.is-invalid]="categoriaNoValida" formControlName="id_categoria" name="id_categoria" class="form-control">
                                    <option value="0">(Seleccionar)</option>
                                    <option *ngFor="let cate of categorias" [value]="cate.id"> {{ cate.nombre_categoria }} </option>
                                </select>
                                <!-- <small class="text-danger">Ingrese nombre de la categoría.</small> -->
                            </div>
                            <div class="form-group">
                                <label>Subcategoría: <small *ngIf="subcategoriaNoValida" class="form-text text-danger">Seleccione una subcategoría</small></label>
                                <select [class.is-invalid]="subcategoriaNoValida" formControlName="id_subcategoria" name="id_subcategoria" class="form-control">
                                    <option value="0">(Seleccionar)</option>
                                    <option *ngFor="let subcate of subcategorias" [value]="subcate.id"> {{ subcate.nombre_sub_categoria }} </option>
                                </select>
                                <!-- <small class="text-danger">Ingrese nombre de la categoría.</small> -->
                            </div>
                            <div class="form-group">
                                <label>Nombre tipo: <small *ngIf="tipoNoValido" class="form-text text-danger">Ingrese nombre tipo</small></label>
                                <input [class.is-invalid]="tipoNoValido" formControlName="nombre_tipo" name="nombre_tipo" type="text" class="form-control" placeholder="Ingrese nombre...">
                                <!-- <small class="text-danger">Ingrese nombre de la categoría.</small> -->
                            </div>
                            <button *ngIf="!editar" type="button" class="btn btn-primary btn-block" (click)="guardar_tipo()">Agregar tipo</button>
                            <button *ngIf="editar" type="button" class="btn btn-primary btn-block" (click)="actualizar_tipo()">Guardar cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>