<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple" [fullScreen]="true">
    <p style="color: white"> cargando... </p>
</ngx-spinner>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a class="default-cursor" href="javascript:void(0)">Mantenimiento</a></li>
                        <li class="default-cursor">Subcategoría</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End-->
<div class="mantenimiento-area">
    <div style="width: 80%; margin: auto; height: 69vh; padding: 50px;">

        <div class="row">
            <div class="col-md-8">
                <div style="min-height: 500px;">
                    <table class="table table-striped" style="width: 100%; margin: auto;">
                        <thead>
                            <tr class="bg-primary" style="color: #fff;">
                                <th>Nombre categoría</th>
                                <th>Nombre subcategoría</th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subcategoria of subcategorias | paginate: { itemsPerPage: 10, currentPage: pagina_actual }">
                                <td> {{ subcategoria.nombre_categoria }} </td>
                                <td> {{ subcategoria.nombre_sub_categoria }} </td>
                                <td><a href="javascript:void(0)" (click)="habilitar_edicion(subcategoria)">Modificar</a></td>
                                <td><a href="javascript:void(0)" (click)="eliminar_subcategoria(subcategoria)">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pagina_actual = $event"></pagination-controls>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Editar Subcategoría</h5>
                        <a href="javascript:void(0)" (click)="habilitar_nuevo_registro()" class="card-link">Crear subcategoría</a>

                        <form style="margin-top: 20px; margin-bottom: 20px;" autocomplete="off" [formGroup]="formulario">
                            <div class="form-group ocultar">
                                <label>Id:</label>
                                <input formControlName="id" name="id" type="number" class="form-control" placeholder="Id...">
                            </div>
                            <div class="form-group">
                                <label>Categoría:</label>
                                <select formControlName="id_categoria" name="id_categoria" class="form-control">
                                    <option *ngFor="let cate of categorias" [value]="cate.id"> {{ cate.nombre_categoria }} </option>
                                </select>
                                <!-- <small class="text-danger">Ingrese nombre de la categoría.</small> -->
                            </div>
                            <div class="form-group">
                                <label>Nombre subcategoría:</label>
                                <input formControlName="nombre_subcategoria" name="nombre_subcategoria" type="text" class="form-control" placeholder="Ingrese nombre...">
                                <!-- <small class="text-danger">Ingrese nombre de la categoría.</small> -->
                            </div>
                            <button *ngIf="!editar" type="button" class="btn btn-primary btn-block" (click)="guardar_subcategoria()">Agregar subcategoría</button>
                            <button *ngIf="editar" type="button" class="btn btn-primary btn-block" (click)="actualizar_subcategoria()">Guardar cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>