<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-ripple" [fullScreen]="true">
    <p style="color: white"> cargando... </p>
</ngx-spinner>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a class="default-cursor" href="javascript:void(0)">Mantenimiento</a></li>
                        <li><a class="default-cursor" href="javascript:void(0)">Usuario</a></li>
                        <li class="default-cursor">Aprobar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End-->
<div class="mantenimiento-area">
    <div style="width: 80%; margin: auto; height: 69vh; padding: 50px; padding-top: 40px;">

        <form autocomplete="off">
            <div class="container">
                <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="enviar_aprobacion()" style="width: 50%; margin: auto;">
                    <div>
                        <div style="width: 100%; margin-bottom: 20px; padding: 30px 25px; background: #f6f6f6;">

                            <h6>RUC: {{ usuario.ruc }} </h6>
                            <h4> {{ usuario.nombre }} </h4>
                            <hr>
                            <p><span class="lnr lnr-envelope"></span>&nbsp; {{ usuario.correo }} </p>
                            <div style="height: 15px;"></div>
                            <p><span class="lnr lnr-phone-handset"></span>&nbsp; {{ usuario.telefono1 }} </p>

                        </div>
                        <div class="form-group">
                            <label>Crédito:</label>
                            <input formControlName="credito" name="credito" type="number" class="form-control form-control-sm" placeholder="Ingrese monto...">
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Tipo de crédito:</label>
                            <select formControlName="tipo_credito" name="tipo_credito" class="form-control form-control-sm">
                                <option value="0">(Seleccionar)</option>
                                <option value="1">Crédito a 6 meses</option>
                                <option value="2">Crédito a 1 año</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="estado" value="2" class="form-check-input" type="radio" name="estado" id="inlineRadio1">
                        <label class="form-check-label pointer" for="inlineRadio1">Aprobado</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="estado" value="3" class="form-check-input" type="radio" name="estado" id="inlineRadio2">
                        <label class="form-check-label pointer" for="inlineRadio2">Rechazado</label>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col md-6">
                            <div style="margin-top: 10px;">
                                <button type="button" class="btn btn-outline-primary btn-block">Regresar al listado</button>
                            </div>
                        </div>
                        <div class="col md-6">
                            <div style="margin-top: 10px;">
                                <button type="submit" class="btn btn-primary btn-block">Enviar respuesta</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </form>

    </div>
</div>