<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a class="default-cursor" href="javascript:void(0)">Mantenimiento</a></li>
                        <li class="default-cursor">Usuario</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End-->
<div class="mantenimiento-area">
    <div style="width: 80%; margin: auto; height: 69vh; padding: 20px 50px;">
        <div style="margin-top: 10px;" class="row">
            <div class="col-md-12">
                <div style="min-height: 500px;">
                    <form autocomplete="off" [formGroup]="form_busqueda" (ngSubmit)="listar_usuario()" style="width: 100%; margin-bottom: 20px; padding: 20px 25px; background: #f6f6f6; border-radius: 5px;">
                        <div class="row">
                            <div class="col-md-2">
                                <select formControlName="estado" name="estado" class="form-control form-control-sm">
                                    <option value="1">Pendientes</option>
                                    <option value="2">Aprobados</option>
                                    <option value="3">Rechazados</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <input formControlName="patron_busqueda" name="patron_busqueda" id="patron_busqueda" type="text" placeholder="Buscar por ruc o razón social..." class="form-control form-control-sm">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-outline-primary btn-block btn-sm">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped" style="width: 100%; margin: auto;">
                        <thead>
                            <tr class="bg-primary" style="color: #fff;">
                                <th>RUC</th>
                                <th>Razón Social</th>
                                <th>Correo</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td> {{ usuario.ruc }} </td>
                                <td> {{ usuario.nombre }} </td>
                                <td> {{ usuario.correo }} </td>
                                <td><span class="badge badge-pill" [class.badge-warning]="usuario.estado === 1" [class.badge-success]="usuario.estado === 2" [class.badge-danger]="usuario.estado === 0"> {{ obtener_estado(usuario.estado) }} </span></td>
                                <td><a href="javascript:void(0)" (click)="editar_usuario(usuario)">Aprobar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center" style="display: none;">
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pagina_actual = $event"></pagination-controls>
                </div>
            </div>
        </div>

    </div>
</div>